.Analysis {
    margin-bottom: 63px;
}

.Analysis form {
    max-width: 800px;
    margin: 0 auto;
}

.form-group {
    text-align: left;
}

.Analysis button {
    margin-top: 20px;
    float: left;
}